  .formContainer1 {
    
    background-image: Url('https://wallpapercave.com/wp/wp38040.jpg');
     background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .formWrapper1 {
      background-color: white;
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
      
  
      .title1 {
        color: #5d5b8d;
        font-size: 12px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
        input {
          padding: 15px;
          border: none;
          width: 250px;
          border-bottom: 1px solid #a7bcff;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
        }
  
        button {
          background-color: #7b96ec;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
        }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #8da4f1;
          font-size: 12px;
          cursor: pointer;
        }
        
      
      p {
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 10px;
      }
    